POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=organizations_db
STATIC_API_KEY=your_secret_key
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/organizations_db
ADMIN_URL=postgresql+asyncpg://user:password@db:5432/postgres
